.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 80px 170px;
}
.services-title{
    position: relative;
}
.services-title h2{
    font-size: 40px;
    letter-spacing: 0.1rem;
}
.services-title img{
    width: 12rem;
    height: 3rem;
    position: absolute;
    right: -2rem;
    bottom: -0.3rem;   
    z-index: -1;
}
.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;

}
.services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 15px 25px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.5s;
}
.services-format:hover{
    border: 2px solid rgb(171, 148, 171);
    background-image: linear-gradient(45deg,#3f0028,#582300);
    transform: scale(1.05);
    transition: 0.3s;
    cursor: pointer;
}
.services-format h3{
    font-size: 20px;
    font-weight: 600;

}
.services-format h2{
    background: linear-gradient(267deg ,#dA7C25 0.36%,#B923E1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 600;
}
.services-format p{
    color: white;
    font-size: 17px;
    line-height: 30px;
}

.services-readmore{
    border: 0.01rem solid white;
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 130px;
    padding: 5px 10px;
    border-radius: 10px;
    background: linear-gradient(267deg ,#dA7C25 0.36%,#B923E1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.services-readmore:hover{
    transform: scale(1.05);
    transition: 0.3s;
    border: 1px solid #3f0028;
}
.services-readmore img{
    width: 1.5rem;
    height: 1.5rem;
}
@media (max-width:770px) {
    .services{
        gap: 70px;
        margin: 20px 70px;
    }
    .services-title h1{
        padding: 0px;
        font-size: 50px;
    }
    .services-format{
        gap: 20px;
        padding: 30px;
    }
    .services-format p{
        font-size: 18px;
        line-height: 30px;
        max-width: 300px;
    }
    .services-readmore img{
        width: 20px;
    }
    .services-container{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}